In [6]:
import pymysql.cursors
import pandas as pd
import numpy as np
import connect_to_db as cn

In [7]:
# pymysql을 이용한 db connection.
connection = cn.make_connection('connection.csv')

cursor = connection.cursor(pymysql.cursors.DictCursor)

sql = 'select mentor, mentee from mentor_mentee_relationship;'
cursor.execute(sql)

# result가 dict 형태로 return.
result = cursor.fetchall()
connection.close()

result = pd.DataFrame(result)
result

                       mentor               mentee
0        _________________UWU          asdfgnjklll
1         ______________Blank  hopelessromantic_99
2        _________-----------      Marco_the_Vegan
3        _________ez_________         crapenvelope
4           _______Anon______    ickisthemeatfairy
...                       ...                  ...
2250392      zzzzzsleepyzzzzz          HalfNothing
2250393      zzzzzsleepyzzzzz            Swoonikit
2250394           zzzzzzz____        frickfrick123
2250395           zzzzzzz____           gr33nberry
2250396           zzzzzzzzzz-       No_Physics3697

[2250397 rows x 2 columns]

In [4]:
result.to_csv('mentor_mentee.csv', sep=',', na_rep='NaN', index=None)