In [40]:
import glob
import pandas as pd

In [41]:
df = pd.concat(map(pd.read_csv, glob.glob('*.csv')), ignore_index=True)

In [42]:
df

,post_key,comment_key,comment_author,comment_score,is_score,es_score
0,t3_gy2hym,t1_ft7yy23,LORD_DIDDLESASS,1,1,2
1,t3_gy2hzy,t1_ft8tzrb,Ed89123,1,1,2
2,t3_gy2hzy,t1_ft8t2js,tbiller00,1,2,1
3,t3_gy2hzy,t1_ft7y7bt,suckmycolt,1,1,2
4,t3_gy2ikk,t1_ft80c56,EllietteB,4,2,2
...,...,...,...,...,...,...
902203,t3_f7lh92,t1_ficx1l6,aliby19,2,2,1
902204,t3_f7lh92,t1_fic4ply,St4r__L0rd,2,2,1
902205,t3_f7lhfg,t1_fic3an0,NationalIssue5,1,1,2
902206,t3_f7lhj9,t1_fic5jxs,Ibrahim_63,132,1,1
902207,t3_f7lhl6,t1_fic208g,hopscotchpro77,1,1,2

In [43]:
# df.to_csv("similarity.csv", index = False)
# df.to_csv("entropy.csv", index = False)
# df.to_csv("valid_similarity.csv", index = False)
# df.to_csv("about_posts_comments_similarity.csv", index = False)
# df.to_csv("about_posts_entropy.csv", index = False)
df.to_csv("post_best_comment.csv", index = False)