In [48]:
import glob
import pandas as pd

In [56]:
df = pd.concat(map(pd.read_csv, glob.glob('*.csv')), ignore_index=True)

In [57]:
df

                      author  posts_similarity
0       _________________UWU          0.083527
1              _______woohoo          0.045464
2            _____6529______          0.000000
3            _____Generation          0.143872
4              _____kek_____          0.000000
...                      ...               ...
190741      zzzzzsleepyzzzzz          0.136276
190742            zzzzzzarah          0.206137
190743              zzzzzzyy          1.000000
190744           zzzzzzz____          0.000000
190745         ZZZZZzzzzzxzx          0.000000

[190746 rows x 2 columns]

In [58]:
# df.to_csv("similarity.csv", index = False)
# df.to_csv("entropy.csv", index = False)
# df.to_csv("valid_similarity.csv", index = False)
# df.to_csv("about_posts_comments_similarity.csv", index = False)
# df.to_csv("about_posts_entropy.csv", index = False)
# df.to_csv("post_best_comment.csv", index = False)
# df.to_csv('similarity_final.csv', index = False)
# df.to_csv('entropy_final.csv', index = False)
df.to_csv('posts_similarity_mentee.csv', index = False)