In [17]:
import glob
import pandas as pd

In [18]:
df = pd.concat(map(pd.read_csv, glob.glob('*.csv')), ignore_index=True)

In [19]:
df

,author,is_score_entropy,es_score_entropy,is_score_normalized_entropy,es_score_normalized_entropy
0,PickleMyTickle96,0.000000,0.00000,0.000000,0.000000
1,PickleNick2,0.579380,0.57938,1.214325,1.214325
2,PickleNickle45,0.000000,0.00000,0.000000,0.000000
3,picklenik17,0.000000,0.00000,0.000000,0.000000
4,pickleofdoom1,0.544568,0.62161,1.141363,1.302834
...,...,...,...,...,...
594992,zzzzzsleepyzzzzz,0.579380,1.00000,1.214325,2.095903
594993,zzzzzzarah,0.000000,0.00000,0.000000,0.000000
594994,zzzzzzz____,0.000000,0.00000,0.000000,0.000000
594995,zzzzzzzzzra,0.000000,0.00000,0.000000,0.000000
594996,zzzzzzzzzz-,0.000000,0.00000,0.000000,0.000000

In [20]:
# df.to_csv("comments_similarity.csv", index = False)
# df.to_csv("posts_similarity.csv", index = False)
df.to_csv("entropy.csv", index = False)