In [21]:
import glob
import pandas as pd

In [22]:
df = pd.concat(map(pd.read_csv, glob.glob('*.csv')), ignore_index=True)

In [23]:
df

             author  comments_similarity  posts_similarity
0          jmps1986             0.090236          0.000000
1        JMPthenFLY             0.154997          0.027193
2         JMRoaming             0.055353          0.031093
3         jmrwilson             0.194040          0.019286
4         jms_serna             0.030897          0.000000
...             ...                  ...               ...
227027  jmorgan0527             0.010148          0.000000
227028      Jmose93             0.531608          0.000000
227029    JMoxon569             0.000000          0.056297
227030      jmp-f88             0.171660          0.007159
227031      JMP0492             0.065696          0.047210

[227032 rows x 3 columns]

In [24]:
# df.to_csv("comments_similarity.csv", index = False)
# df.to_csv("posts_similarity.csv", index = False)
df.to_csv("similarity.csv", index = False)
# df.to_csv("entropy.csv", index = False)