In [25]:
import glob
import pandas as pd

In [26]:
df = pd.concat(map(pd.read_csv, glob.glob('*.csv')), ignore_index=True)

In [27]:
df

                   author  is_score_entropy  es_score_entropy
0             ohio_Magpie          0.000000          0.000000
1                Ohio4455          0.000000          0.000000
2                  Ohio57          0.000000          0.000000
3           ohioanjackass          0.000000          0.000000
4            ohiocardsfan          0.000000          0.000000
...                   ...               ...               ...
466616  Dank_Sinatra_4x20          0.579380          1.000000
466617         Dank_Topia          0.669592          0.819448
466618     Dank-Hank42069          0.000000          0.000000
466619     Dank-meme-teen          0.000000          0.864974
466620          Dank-Yoda          0.000000          0.579380

[466621 rows x 3 columns]

In [28]:
# df.to_csv("similarity.csv", index = False)
df.to_csv("entropy.csv", index = False)