In [48]:
import glob
import pandas as pd

In [49]:
df = pd.concat(map(pd.read_csv, glob.glob('*.csv')), ignore_index=True)

In [50]:
df

,author,comments_is_score_entropy,comments_es_score_entropy
0,darklotus_26,0.00000,0.00000
1,DarkLovell_,0.00000,0.00000
2,darklux-,0.63093,0.00000
3,darklydreamingR,0.00000,0.00000
4,Darklyrlit,0.63093,0.63093
...,...,...,...
461352,onlydebonair,0.00000,0.00000
461353,Onlydogsaregood87,0.00000,0.00000
461354,onlydogsmatter,0.00000,0.00000
461355,OnlyEatApples,0.57938,0.57938
461356,onlyeehaw,0.00000,0.00000

In [51]:
# df.to_csv("similarity.csv", index = False)
# df.to_csv("entropy.csv", index = False)
# df.to_csv("valid_similarity.csv", index = False)
# df.to_csv("about_posts_comments_similarity.csv", index = False)
# df.to_csv("about_posts_entropy.csv", index = False)
# df.to_csv("post_best_comment.csv", index = False)
# df.to_csv('similarity_final.csv', index = False)
df.to_csv('entropy_final.csv', index = False)