In [2]:
import glob
import pandas as pd

In [6]:
df = pd.concat(map(pd.read_csv, glob.glob('*.csv')), ignore_index=True)

In [7]:
df

                     author  comment_similarity
0                    Mirk11            0.218898
1                     mirkc            0.026860
2                 mirkinhat            0.234105
3       Mirko_TheRabbitHero            0.054644
4              mirkywatters            0.068235
...                     ...                 ...
349098         EyeGotNuthin            0.169148
349099                eyeh8            0.138555
349100          EYEHATEUALL            0.023493
349101     Eyehavequestions            0.117183
349102     eyeheartchicfila            0.126505

[349103 rows x 2 columns]

In [8]:
df.to_csv("comment_similarity.csv", index = False)