In [59]:
import glob
import pandas as pd

In [60]:
df = pd.concat(map(pd.read_csv, glob.glob('*.csv')), ignore_index=True)

In [61]:
df

         post_key  predicted_community  jaccard_coefficient
0       t3_kng58c                    1            -1.000000
1       t3_kng58c                    1            -1.000000
2       t3_kng58c                    2            -1.000000
3       t3_kng58c                    7             0.000009
4       t3_kng58c                    1             0.000000
...           ...                  ...                  ...
110032  t3_kng58c                    4             0.000000
110033  t3_kng58c                    1             0.000000
110034  t3_kng58c                 1242             0.000000
110035  t3_kng58c                    1            -1.000000
110036  t3_kng58c                 1039            -1.000000

[110037 rows x 3 columns]

In [62]:
# df.to_csv("similarity.csv", index = False)
# df.to_csv("entropy.csv", index = False)
# df.to_csv("valid_similarity.csv", index = False)
# df.to_csv("about_posts_comments_similarity.csv", index = False)
# df.to_csv("about_posts_entropy.csv", index = False)
# df.to_csv("post_best_comment.csv", index = False)
# df.to_csv('similarity_final.csv', index = False)
# df.to_csv('entropy_final.csv', index = False)
# df.to_csv('posts_similarity_mentee.csv', index = False)
df.to_csv('prediction_result.csv', index = False)