In [81]:
import glob
import pandas as pd

In [82]:
df = pd.concat(map(pd.read_csv, glob.glob('*.csv')), ignore_index=True)

In [83]:
df

         post_key  predicted_community  jaccard_coefficient
0       t3_k5xdgl                    7            -1.000000
1       t3_k5xd56                  217            -1.000000
2       t3_k5xb06                    7            -1.000000
3       t3_k5wzbj                    3             0.000000
4       t3_k5wyd5                  450             0.000000
...           ...                  ...                  ...
110032  t3_kmydgv                    0             0.000000
110033  t3_kmydde                  217             0.000000
110034  t3_kmyc4k                    1             0.000005
110035  t3_kmyace                 1630            -1.000000
110036  t3_kmyac4                 1623            -1.000000

[110037 rows x 3 columns]

In [84]:
# df.to_csv('prediction_result.csv', index = False)
df.to_csv('prediction_result_stop_words_removed_weight.csv', index=False)