In [36]:
import glob
import pandas as pd

In [37]:
df = pd.concat(map(pd.read_csv, glob.glob('*.csv')), ignore_index=True)

In [38]:
df

         post_key  comments_is_score_entropy  comments_es_score_entropy
0       t3_hxgaa8                    0.00000                    0.63093
1       t3_hxgaak                    0.00000                    0.00000
2       t3_hxgbad                    0.00000                    0.00000
3       t3_hxgbma                    0.00000                    0.00000
4       t3_hxgbrm                    0.00000                    0.00000
...           ...                        ...                        ...
712504  t3_jntn43                    0.00000                    0.63093
712505  t3_jntn4r                    0.63093                    0.00000
712506  t3_jntnnr                    0.63093                    0.63093
712507  t3_jntnxs                    0.57938                    0.00000
712508  t3_jntp3y                    0.00000                    0.00000

[712509 rows x 3 columns]

In [39]:
# df.to_csv("similarity.csv", index = False)
# df.to_csv("entropy.csv", index = False)
# df.to_csv("valid_similarity.csv", index = False)
# df.to_csv("about_posts_comments_similarity.csv", index = False)
df.to_csv("about_posts_entropy.csv", index = False)