In [99]:
import glob
import pandas as pd

In [100]:
df = pd.concat(map(pd.read_csv, glob.glob('*.csv')), ignore_index=True)

In [101]:
df

       community_id  subreddits  subreddit_entropy     value
0              6285           2           0.591673  0.714286
1             11087           1           0.000000  1.000000
2             15841           1           0.000000  1.000000
3             12018           1           0.000000  1.000000
4              5286           1           0.000000  1.000000
...             ...         ...                ...       ...
21365         10797           1           0.000000  1.000000
21366         18617           1           0.000000  1.000000
21367          5535           1           0.000000  1.000000
21368         20854           1           0.000000  1.000000
21369         14641           1           0.000000  1.000000

[21370 rows x 4 columns]

In [102]:
df.to_csv('subreddit_analysis.csv', index=False)