In [25]:
import glob
import pandas as pd

In [29]:
df = pd.concat(map(pd.read_csv, glob.glob('*.csv')), ignore_index=True)

In [30]:
df

                  author  comments_similarity  posts_similarity
0            _______ZERO             0.091959          0.051608
1          ______V______             0.101362          0.046947
2                _____0_             0.079038          0.035801
3              _____boop             0.150105          0.023101
4          _____els3sle-             0.133266          0.043223
...                  ...                  ...               ...
227027     Theotherone56             0.163081          0.038412
227028  TheOtherPuffling             0.098514          0.029154
227029    theothertswift             0.102593          0.000000
227030  TheOtherUprising             0.094434          0.034045
227031      theotpsailor             0.062263          0.000000

[227032 rows x 3 columns]

In [31]:
# df.to_csv("similarity.csv", index = False)
# df.to_csv("entropy.csv", index = False)
df.to_csv("valid_similarity.csv", index = False)