In [9]:
import glob
import pandas as pd

In [14]:
df = pd.concat(map(pd.read_csv, glob.glob('*.csv')), ignore_index=True)

In [15]:
df

                 author  posts_similarity
0           ThatNoobTho          0.033043
1       Thatnotmeperson          0.006908
2        ThatNuggaBilly          0.029393
3          ThatOldStuff          0.000000
4          ThatOn3Ch1ck         -2.000000
...                 ...               ...
349098         mirikuta          0.034125
349099         mirimajj          0.015022
349100   mirin_rosewood          0.044768
349101          MiriT02          0.025374
349102       mirizzle21          0.030398

[349103 rows x 2 columns]

In [16]:
# df.to_csv("comments_similarity.csv", index = False)
df.to_csv("posts_similarity.csv", index = False)